/*
Just a reminder so you remember how classes and regular groups are selected.
.class {
}
h1 {
}
*/

h2 {
    color:  blue;
}

.Logo {
    color:  blue;
}

.HeaderLink {
    color:  blue;
}

.FirstSection {
    color:  blue;
}

.FirstSection {
    color:  blue;
}

.LeftSide {
    color:  blue;
}


.button1 {
    color:  blue;
}

.RightSide {
    color:  blue;
}

.SecondSection {
    color:  blue;
}

.ImageSubsection {
    color:  blue;
}

.ImageSpot {
    color:  blue;
}

.ImageText {
    color:  blue;
}

.ThirdSection {
    color:  blue;
}

p {
    color:  blue;
}

.QuoteAttribute {
    color:  blue;
}

.FourthSection {
    color:  blue;
}

.BlueBox {
    color:  blue;
}

.LeftSide2 {
    color:  blue;
}

.BlueBoxText {
    color:  blue;
}

.RightSide2 {
    color:  blue;
}

.button2 {
    color:  blue;
}

.Footer {
    color:  blue;
}

.FooterText {
    color:  blue;
}
