/*
Just a reminder so you remember how classes and regular groups are selected.
.class {
}
h1 {
}
*/
body {
    margin: 0;
    
}
h2 {
    color:  #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex: 1;
    margin: 0%;
    justify-content: space-between;
}

.HeaderRight {
    display: flex;
    flex: 1; 
    gap: 15px;
    justify-content: end;
}

.Logo {
    font-size: 24px;
    
    
}

.HeaderLink {
    color:  #E5E7EB;
    font-size: 18px;

}

.FirstSection {
    color:  blue;
    background-color: #1F2937;
    display: flex;
    flex: 1;

}

.FirstSection {
    color:  blue;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
}

h4 {
    font-size: 18px;
    color: #E5E7EB;
}

.LeftSide {
    color:  blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 20px;
}


.button1 {
    color:  #E5E7EB;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 5px;

}

.RightSide {
    color: #E5E7EB;
    background-color: #6D747D;}

.RandomInfo {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.SecondSection {
    color:  blue;
    display: flex;
    flex: 1;
}

.ImageSubsection {
    color:  blue;
}

.ImageSpot {
    color:  blue;
    border-radius: 10px;
    border-style: solid;
    border-width: small;
    padding: 30px ;
}

.ImageText {
    color:  rgb(56, 56, 58);
    font-size: small;
}

.ThirdSection {
    color:  blue;
    background-color: #E5E7EB;
}

p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;

}

.QuoteAttribute {
    color:  black;
    font-weight: bold;
}

.FourthSection {
    color:  blue;
    display: flex;
    flex: 1;
}

.BlueBox {
    color:  white;
    background-color: #3882f6;
}

.LeftSide2 {
    color:  white;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.BlueBoxText {
    color:  white;
    font-weight: lighter;
    font-size: small;
    
}

.RightSide2 {
    color:  blue;
}

.button2 {
    color:  #E5E7EB;
    background-color: #3882f6;
    border-color: white;
    border-radius: 5px;
    font-weight: bold;
}

.Footer {
    color:  blue;
    background-color: #1F2937;
}

.FooterText {
    color:  white;
}
